.Relight-App-Container {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
}

.Relight-UI.LangSel {
    margin-inline: 4px;
}

.Relight-UI.Line-Wrap {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Relight-UI.Bar {
    /* overwrite .CodeMirror */
    height: auto !important;
    overflow: hidden !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.Relight-UI.Toolbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 6px 4px;
    box-sizing: border-box;
    z-index: 1;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.33);
    display: flex;
    gap: 8px;
}

.Relight-UI.InfoBar {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-end;
    font-size: 14px;
    padding-inline: 8px;
}

.Relight-UI.InfoBar * {
    filter: brightness(0.8);
}

/* Overwrite CodeMirror Defaults */
.CodeMirror-activeline-background {
    background: rgba(255, 255, 255, 0.025) !important;
}

.cm-indent-guide {
    border-left: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.CodeMirror-activeline .cm-indent-guide {
    border-left: 1px solid rgba(255, 255, 255, 0.2) !important;
}
